body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica";
}

#content {
  width:800px;
  margin:0 auto;
}

#header {
  .log-in-out {
    float:right;
    .image {
      float:left;
      margin-right:10px;
    }
  }
}
