<div class="span3" id="listHolder">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header">Christmas 2012 (Group)</li>
			<li class="active">Alex's List</li>
			<li>Parker's List</li>
			<li class="nav-header">Some Other Group</li>
			<li>My Whatever List</li>
			<li class="divider"></li>
			<li class="nav-header">Other Lists</li>
			<li>Birthday 2012</li>
			<li>Blah</li>
		</ul>
	</div>
</div>