<div class="span2" id="inviteeHolder">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header">Group Members</li>
			<li>Alex</li>
			<li>Parker</li>
			<li>Susan</li>
			<li>Jerry</li>
			<li class="divider"></li>
			<li class="nav-header">Other invitees</li>
			<li>John</li>
			<li>Joan</li>
		</ul>
	</div>
</div>